@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
nav {
  width: 100%;
  height: 76px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  top: 0;
}
.navbar .profile {
  width: 48px;
  height: 48px;
}
.item-navigation .teks-16 {
  color: #4f5665;
}
.navbar .dropdown {
  width: 24px;
  height: 24px;
  align-self: center;
}

.frame-13 {
  width: 129px;
  height: 32px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 15px;
}
.navbar {
  width: 423px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 12px;
  gap: 22px;
}
.frame-13 img {
  width: 32px;
  height: 32px;
}
.frame-13 p {
  align-self: center;
  color: #2948ff;
}
.teks-16 {
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f5665;
}
.section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navigation {
  width: 20%;
  height: 948px;
  background-color: white;
  border-right: 1px solid #e8e8e8;
  padding: 44px 50px;
}
.content-navigation {
  width: 208px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-navigation {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 2px 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.item-navigation img {
  filter: none;
  transition: filter 0.3s;
  margin-right: 8px; 
}

.item-navigation:hover {
  background-color: #2948ff;
  color: white;
}

.item-navigation:hover img {
  filter: brightness(0) invert(1); 
}
.content {
  width: 80%;
  height: 948px;
  background-color: white;
}
.content-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.content-item-one {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.item-one {
  width: 1055px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.content-frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.item-two {
  width: 65%;
  height: 790px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.find-people {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.find-people .teks-16 {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #0b132a;
  margin: 0;
}
.result-item > p {
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
}
.find-people .teks-12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  color: #4f5665;
}
.two-find-1 {
  width: 633px;
  height: 115px;
  background-color: #e8e8e84d;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 20px;
  align-items: center;
}
.two-find-11 {
  width: 926px;
  height: 70px;
  border-bottom: 1px solid #e8e8e84d;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.two-find-2 {
  width: 633px;
  height: 40px;
  gap: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.two-find-2 p {
  font-weight: 500;
  color: #0b132a;
  font-size: 12px;
  line-height: 18px;
}
.teks-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
input {
  border: none;
  outline: none;
}
.people {
  width: 233px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.people > img {
  width: 80px;
  height: 80px;
}
.name {
  width: 133px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.star {
  width: 77px;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.amount {
  width: 633px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}
.amount > .teks-16 {
  font-weight: 600;
  color: #0b132a;
  margin: 0;
}
.amount > .teks-14 {
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.nominal {
  width: 633px;
  height: 62px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.nominal > img {
  margin-left: 20px;
}
.nominal > input {
  width: 100%;
}
.notes {
  width: 633px;
  height: 223px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
}
.notes > input {
  margin: 20px;
}
.submit-transfer {
  width: 633px;
  height: 45px;
  background-color: #2948ff;
  border-radius: 6px;
  border: none;
  color: white;
  margin-top: 20px;
}
.submit-transfer:hover {
  background-color: #1633dc;
}
.payment-method {
  width: 633px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: #e8e8e84d;
}
.payment-method > img {
  align-self: center;
}
.payment-method > input {
  margin-left: 20px;
}
.payment {
  width: 25%;
  height: 378px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.payment-item {
  width: 80%;
  height: 28px;
  display: flex;
  align-items: center;
}
.payment-item > p {
  margin: 0;
}
.payment-result {
  width: 80%;
  height: 285px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result-item {
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.teks-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
hr {
  width: 100%;
  border: 1px solid #e8e8e8;
}
button {
  width: 100%;
  height: 45px;
  border: none;
  background-color: #2948ff;
  color: white;
  border-radius: 6px;
}
button:hover {
  background-color: #1330d1;
  color: #2948ff;
}
.teks-15 {
  font-size: 14px;
  font-weight: 400;
}
.transfer {
  display: none;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu > li {
  position: relative;
  margin-right: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 170%;
  margin-left: -200px;
  background-color: white;
  box-shadow: 2px 2px 10px 0 black;
  list-style: none;
  padding: 0;
  border-radius: 12px;
  min-width: 248px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.menu img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu li a {
  margin: 10px 20px;
  border-radius: 12px;
  color: white;
  background-color: #2948ff;
  padding: 15px;
  width: 208px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  background-color: #2948ff;
}
.dropdown-menu li .teks-14 {
  font-weight: 400;
}
.dropdown-menu li .logout {
  color: #d00000;
  background-color: white;
}
.dropdown.active .dropdown-menu {
  display: block;
}
@media screen and (max-width: 1149px) {
  nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .section-container {
    position: sticky;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 100%;
    height: 550px;
    border: none;
    margin-bottom: 30%;
    gap: 10px;
  }
  .item-one {
    width: 100%;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
    gap: 0;
  }
  .transfer {
    display: flex;
    width: 100%;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
  }
  .content1,
  .content1-2 {
    width: 100%;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .content-item-one{
    width: 100%;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-1,
  .two-find-11,
  .two-find-2 {
    width: 100%;
  }
  .two-find-2 {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: 0;
    height: 0;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 188px;
  }
  .trash {
    width: 72px;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name,
  .telp {
    height: 10px;
  }
  .search-container {
    width: 635px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .amount > .teks-16 {
    font-weight: 500;
  }
  .amount > .teks-14 {
    font-size: 12px;
    font-weight: 400;
    color: #4f5665;
  }
  .people img {
    width: 98px;
  }
  .content-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amount,
  .nominal,
  .payment-method {
    width: 100%;
    height: 41px;
  }
  .payment-method {
    display: flex;
    flex-direction: row;
  }
  .nominal > input {
    height: 40px;
  }
  .payment {
    width: 100%;
    border: 0;
    margin-bottom: 20%;
  }
  .payment-item > p {
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .section-container {
    position: sticky;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 100%;
    height: 550px;
    border: none;
    margin-bottom: 30%;
    gap: 10px;
  }
  .item-one {
    width: 100%;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
    gap: 0;
  }
  .transfer {
    display: flex;
    width: 100%;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
  }
  .content1,
  .content1-2 {
    width: 100%;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .content-item-one{
    width: 100%;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-1,
  .two-find-11,
  .two-find-2 {
    width: 100%;
  }
  .two-find-2 {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: 0;
    height: 0;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 188px;
  }
  .trash {
    width: 72px;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name,
  .telp {
    height: 10px;
  }
  .search-container {
    width: 635px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .amount > .teks-16 {
    font-weight: 500;
  }
  .amount > .teks-14 {
    font-size: 12px;
    font-weight: 400;
    color: #4f5665;
  }
  .people img {
    width: 98px;
  }
  .content-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amount,
  .nominal,
  .payment-method {
    width: 100%;
    height: 41px;
  }
  .payment-method {
    display: flex;
    flex-direction: row;
  }
  .nominal > input {
    height: 40px;
  }
  .payment {
    width: 100%;
    border: 0;
    margin-bottom: 20%;
  }
  .payment-item > p {
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 375px) {
   nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .section-container {
    position: sticky;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 375px;
    border: none;
    margin-bottom: 60%;
    gap: 20px;
  }

  .item-one {
    width: 375px;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
    gap: 0;
  }
  .transfer {
    display: flex;
    width: 375px;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 0;
  }

  .item-navigation {
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    font-size: 10px;
    gap: 2px;
    text-decoration: none;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 375px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
  }
  .content1,
  .content1-2 {
    width: 375px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-1,
  .two-find-11,
  .two-find-2 {
    width: 375px;
  }
  .two-find-2 {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: 0;
    height: 0;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 188px;
  }
  .trash {
    width: 72px;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name,
  .telp {
    height: 10px;
  }
  .search-container {
    width: 335px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .amount > .teks-16 {
    font-weight: 500;
  }
  .amount > .teks-14 {
    font-size: 12px;
    font-weight: 400;
    color: #4f5665;
  }
  .people img {
    width: 98px;
  }
  .content-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amount,
  .nominal,
  .payment-method {
    width: 335px;
    height: 41px;
  }
  .payment-method {
    display: flex;
    flex-direction: row;
  }
  .nominal > input {
    height: 40px;
  }
  .payment {
    width: 100%;
    border: 0;
    margin-bottom: 30%;
  }
  .payment-item > p {
    font-size: 14px;
    font-weight: 500;
  }
  .payment-result{
    margin-top: 20%;
  }
}
