@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
nav {
  width: 100%;
  height: 76px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
.icon {
  fill: #4f5665;
  display: none;
}
.navbar {
  width: 100%;
  height: 48px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 40px;
}
.frame-13 img {
  width: 32px;
  height: 32px;
}
.navbar > div > p:first-child {
  display: none;
}
.frame-13 p {
  width: 100px;
  align-self: center;
  color: #2948ff;
}
.teks-16 {
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f5665;
}
.section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navigation {
  width: 20%;
  height: 948px;
  background-color: white;
  border-right: 1px solid #e8e8e8;
  padding: 44px 50px;
}
.content-navigation {
  width: 208px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-navigation img {
  width: 24px;
  height: 24px;
}
.icon-dashboard {
  display: none;
}
.item-navigation {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 2px 4px 8px;
  text-decoration: none;
}
.item-navigation:hover {
  background-color: #2948ff;
  color: white;
}
.content {
  width: 80%;
  height: 948px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.content1 {
  width: 700px;
  height: 843x;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content1-1 {
  width: 700px;
  height: 147px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.content1-2 {
  width: 700px;
  height: 81px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}
.topup {
  width: 239px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 14px;
  margin-right: 19px;
}
.button-topup {
  background-color: #2948ff;
  width: 109px;
  height: 45px;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.button-topup:hover {
  background-color: #1430d0;
}
.content1-3 {
  width: 700px;
  height: 574px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.income {
  width: 668px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.teks-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.filter {
  width: 113px;
  height: 35px;
  border: none;
  border-radius: 6px;
  background-color: #f1f1f1;
}
.filter:hover {
  background-color: #2948ff;
}
.chart {
  width: 668px;
  height: 472px;
}
.content1-item {
  width: 222px;
  height: 147px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content1-item-1 {
  width: 192px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.item1 {
  width: 192px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.teks-24 {
  font-size: 24px;
  font-family: "montserrat";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
}
.teks-12 {
  font-family: "montserrat";
  font-size: 12px;
  font-weight: 400;
  color: #00a700;
}
.content2 {
  width: 341px;
  height: 843px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
}
.content2-sub {
  width: 341px;
  height: 843px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.content2-item {
  width: 320px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.people {
  width: 56px;
  height: 56px;
}
.teks-people {
  width: 100px;
  height: 51px;
}
.result {
  width: 100px;
  height: 20px;
}
.menu {
  list-style: none;
  padding: 0;
}
.menu > li {
  position: relative;
  margin-right: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 170%;
  margin-left: -200px;
  background-color: white;
  box-shadow: 2px 2px 10px 0 black;
  list-style: none;
  padding: 0;
  border-radius: 12px;
  min-width: 248px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.menu img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu li a {
  margin: 10px 20px;
  border-radius: 12px;
  color: white;
  background-color: #2948ff;
  padding: 15px;
  width: 208px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  background-color: #2948ff;
}
.dropdown-menu li .teks-14 {
  font-weight: 400;
}
.dropdown-menu li .logout {
  color: #d00000;
  background-color: white;
}
.dropdown.active .dropdown-menu {
  display: block;
}
.transfer {
  display: none;
}
@media screen and (max-width: 1149px) {
  .content {
    width: 70%;
    margin-left: 5%;
  }
  .content1 {
    width: 70%;
  }
  .content2 {
    width: 30%;
  }
  .content2-sub {
    width: 100%;
  }
  .content-navigation {
    width: 100%;
    margin-left: 0;
  }
  .navigation {
    width: 20%;
    padding: 4%;
  }
  .content1-1 {
    width: 100%;
  }
  .content1-2,
  .item1,
  .item-navigation,
  .content1-3,
  .content2-item,
  .content1-item {
    width: 100%;
  }
  .income {
    width: 95%;
  }
  .content1-item-1 {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart img {
    width: 80%;
  }
  .people img {
    width: 80%;
    height: 80%;
  }
  .teks-people {
    width: 50%;
  }
  .teks-people > .teks-16,
  .result > .teks-16 {
    font-size: 12px;
  }
  .item1 .teks-24{
    font-size: 16px;
  }
}
@media screen and (max-width: 877px) {
 nav {
    width: 100%;
    height: 138px;
    position: static;
    background-color: #2948ff;
  }
  header {
    width: 100%;
  }
  .content {
    margin-top: 5%;
    margin-left: 0;
  }
  .navbar {
    margin-right: 0;
    flex-direction: row-reverse;
    margin-bottom: 10%;
  }
  .navbar > p:first-child {
    font-size: 12px;
    display: block;
  }
  .navbar > div {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
  }
  .navbar img {
    margin-top: 15px;
  }
  .navbar > img:last-child {
    display: none;
  }
  .frame-13 {
    margin-left: 0;
    display: none;
  }
  .navbar > div p:first-child {
    display: flex;
    font-size: 12px;
    margin-top: 14px;
    font-weight: 400px;
  }
  .navbar > div p:last-child {
    margin: 0;
    color: white;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content2 {
    width: 768px;
  }
  .content2-sub {
    width: 768px;
  }
  .content2-item {
    padding: 20px;
    width: 100%;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 768px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .chart,
  .chart img {
    width: 768px;
  }
  .item1 {
    width: 100%;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .chart {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart img,
  .income {
    width: 80%;
  }
  .content1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fast {
    display: none;
  }
  .filter {
    width: 95px;
    height: 25px;
  }
  .content1-1 {
    width: 80%;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 12%;
    border-radius: 24px;
    background-position: center calc(100% + 20px);
    background-image: url(../../asset/images/dashboardv1/waveee.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 5px 5px #00000014;
  }
  .content1-item {
    width: 275px;
    height: 65px;
    border: none;
  }
  .remove {
    display: none;
  }
  .topup {
    width: 341px;
    margin-right: 0;
  }
  .button-topup {
    width: 159px;
    height: 35px;
  }
  .button-topup .teks-16 {
    font-size: 12px;
  }
  .content1-2 {
    width: 100%;
    display: flex;
    border: none;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .content1-item-1 {
    width: 75px;
    height: 85px;
    gap: 0;
  }
  .item1 img {
    display: none;
  }
  .item1 p {
    margin: 0;
  }
  .content2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20%;
  }
  .content2-sub {
    border: none;
  }
  .content1-3 {
    border: none;
    width: 100%;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 138px;
    position: static;
    background-color: #2948ff;
  }
  header {
    width: 100%;
  }
  .content {
    margin-top: 5%;
    margin-left: 0;
  }
  .navbar {
    margin-right: 0;
    flex-direction: row-reverse;
    margin-bottom: 10%;
  }
  .navbar > p:first-child {
    font-size: 12px;
    display: block;
  }
  .navbar > div {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
  }
  .navbar img {
    margin-top: 15px;
  }
  .navbar > img:last-child {
    display: none;
  }
  .frame-13 {
    margin-left: 0;
    display: none;
  }
  .navbar > div p:first-child {
    display: flex;
    font-size: 12px;
    margin-top: 14px;
    font-weight: 400px;
  }
  .navbar > div p:last-child {
    margin: 0;
    color: white;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content2 {
    width: 768px;
  }
  .content2-sub {
    width: 768px;
  }
  .content2-item {
    padding: 20px;
    width: 100%;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 768px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .chart,
  .chart img {
    width: 768px;
  }
  .item1 {
    width: 100%;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .chart {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart img,
  .income {
    width: 80%;
  }
  .content1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fast {
    display: none;
  }
  .filter {
    width: 95px;
    height: 25px;
  }
  .content1-1 {
    width: 80%;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 12%;
    border-radius: 24px;
    background-position: center calc(100% + 20px);
    background-image: url(../../asset/images/dashboardv1/waveee.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 5px 5px #00000014;
  }
  .content1-item {
    width: 275px;
    height: 65px;
    border: none;
  }
  .remove {
    display: none;
  }
  .topup {
    width: 341px;
    margin-right: 0;
  }
  .button-topup {
    width: 159px;
    height: 35px;
  }
  .button-topup .teks-16 {
    font-size: 12px;
  }
  .content1-2 {
    width: 100%;
    display: flex;
    border: none;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .content1-item-1 {
    width: 100%;
    height: 85px;
    gap: 0;
  }
  .item1 img {
    display: none;
  }
  .item1 p {
    margin: 0;
  }
  .content2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20%;
  }
  .content2-sub {
    border: none;
  }
  .item1 .teks-24 {
    font-size: 12px;
  }
  .content1-3 {
    border: none;
    width: 100%;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 502px) {
  nav {
    width: 100%;
    height: 138px;
    position: static;
    background-color: #2948ff;
  }
  .navbar {
    padding: 10px;
  }
  .content1 {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .content2 {
    width: 100%;
  }
  .content2-sub {
    width: 100%;
  }
  .content2-item {
    padding: 20px;
    width: 100%;
  }
  .content {
    margin-top: 5%;
    margin-left: 0;
  }
  .navbar {
    margin-right: 0;
    flex-direction: row-reverse;
    margin-bottom: 25%;
  }
  .navbar > p:first-child {
    font-size: 12px;
    display: block;
  }
  .navbar > div {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
  }
  .navbar img {
    margin-top: 15px;
  }
  .navbar > img:last-child {
    display: none;
  }
  .frame-13 {
    margin-left: 0;
    display: none;
  }
  .navbar > div p:first-child {
    display: flex;
    font-size: 12px;
    margin-top: 14px;
    font-weight: 400px;
  }
  .navbar > div p:last-child {
    margin: 0;
    color: white;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content1-1 {
    width: 100%;
  }
  .content2 {
    width: 100%;
  }
  .content2-sub {
    width: 100%;
  }
  .content2-item {
    padding: 20px;
    width: 100%;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 75px;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .chart,
  .chart img {
    width: 100%;
  }
  .item1 {
    width: 100%;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .chart {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart img,
  .income {
    width: 80%;
  }
  .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fast {
    display: none;
  }
  .filter {
    width: 95px;
    height: 25px;
  }
  .content1-1 {
    width: 80%;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 12%;
    border-radius: 24px;
    background-position: bottom;
    background-image: url(../../asset/images/dashboardv1/waveee.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 5px 5px #00000014;
  }
  .content1-item {
    width: 275px;
    height: 65px;
    border: none;
  }
  .remove {
    display: none;
  }
  .topup {
    width: 441px;
    margin-right: 0;
  }
  .button-topup {
    width: 159px;
    height: 35px;
  }
  .button-topup .teks-16 {
    font-size: 12px;
  }
  .content1-2 {
    width: 80%;
    display: flex;
    border: none;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .content1-item-1 {
    width: 100%;
    height: 85px;
    gap: 0;
  }
  .item1 img {
    display: none;
  }
  .item1 p {
    margin: 0;
  }
  .content2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20%;
  }
  .content2-sub {
    border: none;
  }
  .content1-3 {
    border: none;
    width: 100%;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  nav {
    width: 375px;
    height: 138px;
    position: static;
    background-color: #2948ff;
  }
  header {
    width: 100%;
  }
  .content {
    margin-top: 5%;
    margin-left: 0;
  }
  .navbar {
    margin-right: 0;
    flex-direction: row-reverse;
    margin-bottom: 25%;
  }
  .navbar > p:first-child {
    font-size: 12px;
    display: block;
  }
  .navbar > div {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
  }
  .navbar img {
    margin-top: 15px;
  }
  .navbar > img:last-child {
    display: none;
  }
  .frame-13 {
    margin-left: 0;
    display: none;
  }
  .navbar > div p:first-child {
    display: flex;
    font-size: 12px;
    margin-top: 14px;
    font-weight: 400px;
  }
  .navbar > div p:last-child {
    margin: 0;
    color: white;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content1-1 {
    width: 375px;
  }
  .content2 {
    width: 375px;
  }
  .content2-sub {
    width: 375px;
  }
  .content2-item {
    padding: 20px;
    width: 375px;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 75px;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 375px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .chart,
  .chart img {
    width: 375px;
  }
  .item1 {
    width: 100%;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .chart {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart img,
  .income {
    width: 334px;
  }
  .content1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fast {
    display: none;
  }
  .filter {
    width: 95px;
    height: 25px;
  }
  .content1-1 {
    width: 335px;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 12%;
    border-radius: 24px;
    background-position: bottom;
    background-image: url(../../asset/images/dashboardv1/waveee.svg);
    background-repeat: no-repeat;
    box-shadow: 0px 5px 5px #00000014;
  }
  .content1-item {
    width: 275px;
    height: 65px;
    border: none;
  }
  .remove {
    display: none;
  }
  .topup {
    width: 341px;
    margin-right: 0;
  }
  .button-topup {
    width: 159px;
    height: 35px;
  }
  .button-topup .teks-16 {
    font-size: 12px;
  }
  .content1-2 {
    width: 100%;
    display: flex;
    border: none;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .content1-item-1 {
    width: 75px;
    height: 85px;
    gap: 0;
  }
  .item1 img {
    display: none;
  }
  .item1 p {
    margin: 0;
  }
  .content2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20%;
  }
  .content2-sub {
    border: none;
  }
  .content1-3 {
    border: none;
    width: 375px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
}
