@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.message {
  font-size: 12px;
}
section{
  display: flex;
  background-color: #2948ff;
}
.success{
  color: green;
}
.error{
  color: red;
}

.content-one {
  width: 100%;
  height: 100vh;
  background-color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
}
.media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.frame {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  height: auto;
  background-color: white;
}
.frame-12 {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 32px;
}
.frame-12 img {
  max-width: 32px;
  width: 100%;
  height: 32px;
}
.frame-12 p {
  align-self: center;
  color: #2948ff;
}
.frame .teks-30 {
  font-size: 30px;
  color: #0b132a;
  align-self: flex-start;
}
.teks-16 {
  font-size: 16px;
  font-weight: 500;
  align-self: flex-start;
  color: #4f5665;
}
.frame-32 {
  max-width: 562px;
  width: 100%;
  height: 51px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.frame-29 {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
}
.frame-29:hover {
  background-color: #2948ff;
}
.frame-29 img {
  width: 24px;
  height: 24px;
  align-self: center;
}
.frame-29 .teks-18 {
  line-height: 100%;
  font-size: 18px;
  color: #4f5665;
  text-align: center;
  margin-top: 14px;
  margin-left: 20px;
}
.frame-29:hover .teks-18 {
  color: white;
}
.kejadian {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.teks-16-kejadian {
  font-size: 16px;
  font-weight: 500;
}
form{
  background-color: white;
}
form > div {
  width: 100%;
  height: auto;
  background-color: white;
}
.frame-1 {
  height: 44px;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 0 10px;
}
.frame-1 img {
  width: 16px;
  height: 16px;
  align-self: center;
}
.frame-1 input {
  width: 90%;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: #4f5665;
  outline: none;
  padding: 10px;
}
.frame-1 .eyeslash {
  margin-left: 0;
}
.link {
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  text-align: center;
  background-color: #2948ff;
  color: white;
  text-decoration: none;
}
#login{
  width: 100%;
}
.link:hover {
  background-color: #02147c;
}
.content-two {
  max-width: 710px;
  width: 100%;
  height: 100vh;
  background-color: #2948ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-two img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
.content-one {
    max-width: 768px;
    width: 100%;
    border-radius: 0;
  }
.content-two {
    max-width: 0;
    width: 0;
    height: 0;
  }
.content-two img {
    display: none;
    width: 0%;
  }
.frame {
    margin: 0 10%;
  }
   .frame > img {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
.content-one {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
.content-two img {
    display: none;
    width: 0%;
  }
  .frame > img {
    max-width: 100%;
    width: 100%;
  }
  section .frame {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .link{
    margin-top: 5%;
    margin-left: 5%;
  }
  .eyeslash{
    padding-right: 10px;
  }
  .media{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .frame-29 >p{
    display: none;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
