@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  max-width: 1440px;
  width: 100%;
  height: auto;
  background-color: #2948ff;
  display: flex;
  flex-direction: row;
}
.message{
  font-size: 12px;
}
.success{
  color: green;
}
.error{
  color: red;
}


section .content-one {
  max-width: 710px;
  width: 100%;
  height: auto;
  background-color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section .frame {
  max-width: 562px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.frame-12 {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 32px;
}
.frame-12 img {
  max-width: 32px;
  width: 100%;
  height: 32px;
}
.frame-12 p {
  align-self: center;
  color: #2948ff;
}
.frame .teks-30 {
  font-size: 30px;
  color: #0b132a;
}
.frame .teks-16 {
  font-size: 16px;
  color: #4f5665;
}
.frame-32 {
  max-width: 562px;
  width: 100%;
  height: 51px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.frame-29 {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
}
.frame-29:hover {
  background-color: #2948ff;
}
.frame-29 img {
  max-width: 24px;
  width: 100%;
  height: 24px;
  align-self: center;
}
.frame-29 .teks-18 {
  line-height: 100%;
  font-size: 18px;
  color: #4f5665;
  text-align: center;
  margin-top: 14px;
  margin-left: 20px;
}
.teks-18:hover {
  color: white;
}
.kejadian {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.teks-16-kejadian {
  font-size: 16px;
  font-weight: 500px;
}
.container-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.frame-1 {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #fcfdfe;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.frame-1 img {
  width: 16px;
  height: 16px;
  align-self: center;
  padding-left: 14px;
}
.frame-1 input {
  width: 80%;
  border: none;
  background-color: #fcfdfe;
  font-weight: 400;
  outline: none;
  padding: 10px;
}
.frame-1 .eyeslash {
  margin-left: 0;
}
button.register-button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #2948ff;
  position: static;
  color: white;
}
button:hover {
  background-color: #02147c;
}
section .content-two {
  max-width: 710px;
  width: 100%;
   height: 100vh;
  background-color: #2948ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-two img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  section .content-two {
    display: none;
  }
  section .content-one {
    width: 100%;
    height: auto;
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content-one {
    padding-left: 10px;
  }
  .frame > img {
    max-width: 375px;
    width: 100%;
  }
  .frame .teks-30 {
    font-size: 18px;
  }
  .frame .teks-16 {
    font-size: 12px;
  }
  .frame-12 p {
    font-size: 20px;
  }
  .frame-29 .teks-18 {
    display: none;
  }
  .frame-1 .eyeslash {
    padding-right: 10px;
  }
}
