@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
nav {
  width: 100%;
  height: 76px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  z-index: 99;
  top: 0;
}
.navbar .profile {
  width: 48px;
  height: 48px;
}
.item-navigation .teks-16 {
  color: #4f5665;
}
.navbar .dropdown {
  width: 24px;
  height: 24px;
  align-self: center;
}

.frame-13 {
  width: 129px;
  height: 32px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 15px;
}
.navbar {
  width: 423px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 22px;
}
.frame-13 img {
  width: 32px;
  height: 32px;
}
.frame-13 p {
  align-self: center;
  color: #2948ff;
}
.teks-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f5665;
}
.section-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navigation {
  width: 20%;
  height: 948px;
  background-color: white;
  border-right: 1px solid #e8e8e8;
  padding: 44px 50px;
  position: fixed;
  margin-top: 5%;
}
.content-navigation {
  width: 208px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-navigation {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 2px 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.item-navigation img {
  filter: none;
  transition: filter 0.3s;
  margin-right: 8px; 
}

.item-navigation:hover {
  background-color: #2948ff;
  color: white;
}

.item-navigation:hover img {
  filter: brightness(0) invert(1); 
}
.form-action {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.content {
  margin-left: 35%;
  width: 80%;
  height: 960px;
  background-color: white;
  margin-bottom: 10%;
}
.content-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 15%;
}
.content-item-one {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.item-one {
  width: 1061px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.item-two {
  width: 1061px;
  height: 850px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 5px;
}
.find-people {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.find-people .teks-16 {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #0b132a;
}
.find-people .teks-12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  color: #4f5665;
}
.two-find-1 {
  width: 342px;
}
.two-find-11 {
  width: 926px;
  height: 70px;
  border-bottom: 1px solid #e8e8e84d;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.two-find-2 {
  width: 994px;
  height: 40px;
  gap: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.two-find-2 p {
  font-weight: 500;
  color: #0b132a;
  font-size: 12px;
  line-height: 18px;
}
.teks-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
input {
  width: 340px;
  border: none;
  outline: none;
}
.background {
  width: 128px;
  height: 128px;
  background-color: #e8e8e84d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people {
  width: 331px;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.people > img {
  width: 80px;
  height: 80px;
}
.name {
  width: 160px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
label {
  font-weight: 500;
}
.button-name1 {
  width: 160px;
  height: 65px;
  background-color: #2948ff;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.background > img {
  width: 128px;
  height: 128px;
}
.button-name2:hover {
  background-color: blue;
  color: white;
}
.button-name2 {
  width: 160px;
  height: 65px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #d00000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #d00000;
}
.star {
  width: 77px;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.amount {
  width: 994px;
  height: 45px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 30px 0;
}
.amount > .teks-16 {
  font-weight: 600;
  color: #0b132a;
  margin: 0;
}
.amount > .teks-14 {
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.nominal {
  width: 994px;
  height: 62px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.nominal > img {
  margin-left: 20px;
}
.nominal > input {
  width: 100%;
}
.notes {
  width: 994px;
  height: 223px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
}
.notes > input {
  margin: 20px;
}
.submit-transfer {
  width: 994px;
  height: 45px;
  background-color: #2948ff;
  border-radius: 6px;
  border: none;
  color: white;
  margin-top: 20px;
}
.submit-transfer:hover {
  background-color: #1633dc;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu > li {
  position: relative;
  margin-right: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 170%;
  margin-left: -200px;
  background-color: white;
  box-shadow: 2px 2px 10px 0 black;
  list-style: none;
  padding: 0;
  border-radius: 12px;
  min-width: 248px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.menu img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu li a {
  margin: 10px 20px;
  border-radius: 12px;
  color: white;
  background-color: #2948ff;
  padding: 15px;
  width: 208px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  background-color: #2948ff;
}
.dropdown-menu li .teks-14 {
  font-weight: 400;
}
.dropdown-menu li .logout {
  color: #d00000;
  background-color: white;
}
.dropdown.active .dropdown-menu {
  display: block;
}
.transfer {
  display: none;
}
.password a{
  text-decoration: none;
}
@media screen and (max-width: 1149px) {
  nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 100%;
    border: none;
    margin-bottom: 20%;
  }
  .content-item-one {
    width: 100%;
  }
  .section-container {
    width: 100%;
  }
  .item-one,
  body {
    width: 100%;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
    width: 100%;
    margin-left: 0;
    gap: 0;
  }
  .transfer {
    display: flex;
    width: 100%;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .people {
    justify-content: start;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 100%;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-11 {
    width: 100%;
    padding: 20px;
  }
  .two-find-1 {
    width: 100%;
    padding: 0;
  }
  .price {
    width: 118px;
  }
  .two-find-2 {
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    gap: 0;
  }
  .two-find-21 {
    display: none;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 217px;
    height: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
  }
  .trash {
    display: none;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name {
    justify-content: start;
    width: 183px;
    height: 105px;
  }
  .name p {
    width: 133px;
  }
  .search-container {
    width: 335px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .people img {
    width: 80px;
  }
  .nominal,
  .amount,
  .notes,
  .submit-transfer {
    width: 100%;
  }
  .amount {
    height: 60px;
    margin: 0;
  }
  .nominal {
    height: 41px;
  }
  .notes {
    height: 170px;
  }
  .notes input {
    width: 300px;
  }
  .amount .teks-14 {
    font-size: 12px;
    font-weight: 400;
  }
  .amount > .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .button-name1,
  .button-name2 {
    width: 183px;
    height: 45px;
  }
  .people img {
    width: 20px;
    height: 20px;
  }
  .form-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 678px) {
  .content-navigation {
    gap: 30px;
  }
}
@media screen and (max-width: 473px) {
  .content-navigation {
    gap: 10px;
  }
  .item-two p {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .section-container {
    position: sticky;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 100%;
    border: none;
    margin-right: 20px;
    gap: 10px;
  }
  .item-one {
    width: 375px;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
  }
  .transfer {
    display: flex;
    width: 375px;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
 .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 0;
  }
  
  .item-navigation {
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    font-size: 10px;
    gap: 2px;
    text-decoration: none;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 100%;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-11 {
    width: 100%;
    padding: 20px;
  }
  .two-find-1 {
    width: 100%;
    padding: 0;
  }
  .price {
    width: 118px;
  }
  .two-find-2 {
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    gap: 0;
  }
  .two-find-21 {
    display: none;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 217px;
    height: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
  }
  .trash {
    display: none;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name {
    justify-content: start;
    width: 183px;
    height: 105px;
  }
  .name p {
    width: 133px;
  }
  .search-container {
    width: 335px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .people img {
    width: 80px;
  }
  .nominal,
  .amount,
  .notes,
  .submit-transfer {
    width: 335px;
  }
  .amount {
    height: 60px;
    margin: 0;
  }
  .nominal {
    height: 41px;
  }
  .notes {
    height: 170px;
  }
  .notes input {
    width: 300px;
  }
  .amount .teks-14 {
    font-size: 12px;
    font-weight: 400;
  }
  .amount > .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .button-name1,
  .button-name2 {
    width: 183px;
    height: 45px;
  }
  .people img {
    width: 20px;
    height: 20px;
  }
  .background img{
    width: 128px;
    height: 128px;
  }
  .form-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}
