@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

body {
  margin: 0;
}
section {
  max-width: 1440px;
  width: 100%;
  height: 1024px;
  background-color: #2948ff;
  display: flex;
  flex-direction: row;
}

section .content-one {
  width: 100%;
  max-width: 710px;
  height: auto;
  background-color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section .frame-35 {
  width: 100%;
  max-width: 562px;
  height: 422px;
  background-color: white;
}
.frame-12 {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 32px;
}
.frame-12 img {
  width: 32px;
  height: 32px;
}
.frame-12 p {
  align-self: center;
  color: #2948ff;
}
.frame-35 .teks-30 {
  font-size: 30px;
  font-family: "Montserrat";
  color: #0b132a;
}
.frame-35 .teks-16 {
  font-family: "Montserrat";
  font-size: 16px;
  color: #4f5665;
}
.pin-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-inputs {
  width: 100%;
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

.pin-box {
  width: 100%;
  max-width: 60px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.pin-box:focus {
  border-bottom: 2px solid #2948ff;
}
button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  margin: 50px 0 20px 0;
  background-color: #2948ff;
  color: white;
}
button:hover {
  background-color: #02147c;
}
section .content-two {
  width: 100%;
  max-width: 710px;
  height: 1024px;
  background-color: #2948ff;
  display: flex;
}
.content-two img {
  width: 700px;
  height: auto;
}
@media screen and (max-width: 1293px) {
  section {
    max-width: 1293px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  section .frame-35 {
    width: 100%;
    max-width: 562px;
    height: 422px;
    margin: 7%;
  }
  section .content-one {
    border-radius: 20px;
    max-width: 1293px;
    height: auto;
    width: 80%;
  }
  section .content-two {
    max-width: 0;
    width: 0;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  section .content-one {
    border-radius: 20px;
    max-width: 768px;
    height: auto;
    width: 80%;
  }
  .teks-16 {
    font-size: 12px;
    font-weight: 400;
  }
  section .frame-35 {
    height: auto;
  }
  .frame-35 .teks-30 {
    font-size: 18px;
    font-weight: 500;
  }
  .frame-12 p {
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 355px) {
  section .frame-35 {
    max-width: 355px;
    width: 100%;
    max-height: 480;
    height: 100%;
  }
  .pin-inputs{
    gap: 5px;
    margin: 0;
  }
}
