<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap"
      rel="stylesheet"
    />
    <title>Dashboard v1</title>
  </head>
  <body>
    <head>
      <nav>
        <div class="frame-13">
          <img src="/asset/images/Money Wallet.png" alt="money wallet" />
          <p>E-Wallet</p>
        </div>
        <div class="navbar">
          <p class="teks-16">Ghaluh Wizard</p>
          <img
            style="width: 48px; height: 48px"
            src="/asset/images/dashboardv1/Ellipse 185.svg"
            alt="profile"
          />
          <img
            style="width: 24px; height: 24px; align-self: center"
            src="/asset/images/dashboardv1/down.svg"
            alt="dropdown"
          />
        </div>
      </nav>
    </head>
    <section class="section-container">
      <div class="navigation">
        <div class="content-navigation">
          <a href="" class="item-navigation" style="background-color: #2948ff">
            <img
              src="/asset/images/dashboardv1/dashboard-two.svg"
              alt="dashboard"
            />
            <p style="color: white" class="teks-16">Dashboard</p>
          </a>
          <a href="" class="item-navigation">
            <img src="/asset/images/dashboardv1/Send.svg" alt="send" />
            <p style="color: #4f5665" class="teks-16">Transfer</p>
          </a>
          <a href="" class="item-navigation">
            <img src="/asset/images/dashboardv1/history.svg" alt="history" />
            <p style="color: #4f5665" class="teks-16">History</p>
          </a>
          <a href="" class="item-navigation">
            <img src="/asset/images/dashboardv1/Upload.svg" alt="Upload" />
            <p style="color: #4f5665" class="teks-16">Top Up</p>
          </a>
          <a href="" class="item-navigation">
            <img src="/asset/images/dashboardv1/2 User.svg" alt="User" />
            <p style="color: #4f5665" class="teks-16">Profile</p>
          </a>
          <a href="" class="item-navigation">
            <img src="/asset/images/dashboardv1/Icon.svg" alt="logout" />
            <p style="color: #4f5665" class="teks-16">Keluar</p>
          </a>
        </div>
      </div>
      <div class="content"></div>
    </section>
  </body>
</html>
