@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rancho&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
nav {
  width: 100%;
  height: 76px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
.frame-13 {
  width: 129px;
  height: 32px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  flex-direction: row;
  gap: 15px;
}
.navbar {
  width: 423px;
  height: 48px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 22px;
}
.frame-13 img {
  width: 32px;
  height: 32px;
}
.frame-13 p {
  align-self: center;
  color: #2948ff;
}
.teks-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f5665;
}
.section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navigation {
  width: 20%;
  height: 948px;
  background-color: white;
  border-right: 1px solid #e8e8e8;
  padding: 44px 50px;
}
.content-navigation {
  width: 208px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-navigation {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 2px 4px 8px;
  text-decoration: none;
}
.item-navigation:hover {
  background-color: #2948ff;
  color: white;
}
.content {
  width: 80%;
  height: 948px;
  background-color: white;
}
.content-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
.item-one {
  width: 1061px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.item-two {
  width: 1061px;
  height: 720px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.two-find-1 {
  width: 926px;
  height: 70px;
  background-color: #e8e8e84d;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.two-find-11 {
  width: 926px;
  height: 70px;
  border-bottom: 1px solid #e8e8e84d;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.two-find-2 {
  width: 926px;
  height: 40px;
  gap: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.two-find-21 {
  width: 926px;
  height: 40px;
  gap: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.teks-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
input {
  width: 340px;
  border: none;
  outline: none;
}
.search-container {
  width: 340px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.people {
  width: 112px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  width: 261px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telp {
  width: 310px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  width: 243px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash {
  width: 77px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
}

.pagination li a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  font-weight: 500;
  color: #0b132a;
  font-size: 12px;
  line-height: 18px;
}
.transfer {
  display: none;
}
.phone {
  display: flex;
}

.pagination li a:hover {
  background-color: #f0f0f0;
  color: #2948ff;
}
.modal {
  display: none;
}
@media screen and (max-width: 375px) {
  nav {
    display: none;
  }
  header {
    margin: 0;
  }
  .section-container {
    position: sticky;
  }
  .frame-content {
    display: none;
  }
  .item-two {
    width: 375px;
    border: none;
    margin-bottom: 20%;
    gap: 10px;
  }

  .item-one {
    width: 375px;
  }
  .item-one img,
  .item-one span {
    display: none;
  }
  .content-item {
    margin-top: 12px;
    gap: 0;
  }
  .transfer {
    display: flex;
    width: 375px;
    height: 54px;
    background-color: #2948ff;
    padding: 15px 24px;
    align-items: center;
    position: fixed;
  }
  .transfer h1 {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .find-people .teks-16 {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 74px;
    border-right: none;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px #00000014;
  }
  .content-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 75px;
    height: 60px;
  }
  .content-navigation .teks-16 {
    font-size: 10px;
  }

  .item-navigation {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: column;
    gap: 0;
    width: 75px;
    height: 60px;
  }
  .icon-dashboard1 {
    fill: #4f5665;
    display: block;
  }
  .item-navigation:hover {
    background-color: white;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
  }
  .content1,
  .content1-2 {
    width: 375px;
  }
  .content1-2 {
    position: relative;
  }
  .content1-3 {
    width: 100%;
    height: auto;
  }
  .icon-dashboard {
    color: #2948ff;
  }
  .item-navigation p {
    color: #2948ff;
  }
  .item1 .teks-16 {
    font-size: 10px;
  }
  .teks-24 {
    font-size: 12px;
  }
  .teks-16 {
    font-size: 14px;
  }
  .two-find-1,
  .two-find-11 {
    width: 375px;
    padding: 20px;
  }
  .price {
    width: 118px;
  }
  .two-find-2 {
    width: 375px;
    height: 64px;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    margin: 0 0 10% 0;
    gap: 0;
  }
  .two-find-21 {
    display: none;
  }
  .phone {
    flex-direction: column;
    gap: 10px;
    width: 217px;
    height: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
  }
  .trash {
    display: none;
  }
  .trash img {
    width: 16px;
    height: 16px;
  }
  .name,
  .telp {
    justify-content: start;
    width: 200px;
    height: 10px;
  }
  .search-container {
    width: 335px;
  }
  .find-people .teks-12 {
    display: none;
  }
  .people {
    display: none;
  }
  .content {
    position: relative;
  }
  .modal {
    width: 375px;
    height: 640px;
    background-color: #00000099;
    position: fixed;
    margin-bottom: 27%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background {
    width: 330px;
    height: 473px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 30%;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 290px;
    padding: 20px;
    gap: 15px;
  }
  .DT-galuh {
    width: 290px;
    height: 25px;
  }
  .modal-galuh {
    width: 290px;
  }
  .modal-galuh p {
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    padding: 5px 0;
  }
  .modal-image {
    width: 80px;
    height: 80px;
    border-radius: 4px;
  }
  .modal-name,
  .modal-phone,
  .modal-status,
  .modal-mount {
    width: 290px;
    height: 40px;
    display: flex;
    flex-direction: column;
  }
  .modal-judul,
  .modal-item {
    margin: 0;
  }
  .modal-judul {
    font-size: 14px;
    font-weight: 600;
  }
  .modal-item {
    font-size: 14px;
    font-weight: 400;
  }
  .modal-mount > p:last-child {
    color: #d00000;
  }
  .modal-button button {
    width: 290px;
    height: 35px;
    background-color: #2948ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: none;
  }
  .modal-button:hover {
    width: 290px;
    height: 35px;
  }
  button:hover {
    background-color: white;
    color: red;
     border: 1px solid red;
    border-radius: 6px;
  }
}
